/* -- button */
/* -- popup basic styles */
/* -- active popup */
/* -- message popup */
/* -- media screen */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);

/* -- button */
.infogr_btn_new {
  background: url(../img/fav.jpg) no-repeat 7px center #f7f7f7;
  border-color: #ccc;
  box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #555;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px 27px;
  text-decoration: none;
  white-space: nowrap;
}

.infogr_btn_old {
  cursor: pointer;
  vertical-align: bottom;
  margin-left: 10px;
}

.infogr_btn:hover {
  background-color: #fafafa;
  border-color: #999;
  color: #222;
}

/* -- popup basic styles */
#infogr_media_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 99999;
  font-family: 'Roboto', sans-serif;
}

#infogr_media_popup .infogr_inner {
  width: 930px;
  margin: 0 auto;
  background: #434343;
  position: relative;
  /*vertical-aligning to middle*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#infogr_media_popup .infogr_inner::after {
  content: '';
  clear: both;
  display: block;
}

#infogr_media_popup #close_infogr_popup {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 10px;
  height: 10px;
  color: #fff;
  background: url(../img/close.png) no-repeat left -10px;
  cursor: pointer;
  z-index: 9;
}

#infogr_media_popup #close_infogr_popup:hover {
  background-position: 0 0;
}

.infogr_popup_content {
  overflow: hidden;
  outline: none;
  height: 500px;
}

.infogr_popup_content.loader {
  background: url(../img/loader.gif) no-repeat;
  background-position: 50% 50%;
}

.infogr-popup-footer {
  background: #2c2b2b;
  width: 96%;
  padding: 20px 2% 0; 
}

.infogr-popup-footer:after {
  content: '';
  display: block;
  clear: both;  
}

.infogr-popup-footer .infogr_faq {
  float: left;
  color: #3796c9;
  font-size: 13px;
  font-weight: 500;
  margin-top: 12px;
  text-decoration: none;
}

.infogr-popup-footer .infogr_faq:hover {
  text-decoration: underline;
}

#infogr_embed {
  width: 700px;
  float: right;
  position: relative;
  height: 62px;
}

#infogr_embed input[type="text"]::-webkit-input-placeholder  { color: #b1b1b1; }
#infogr_embed input[type="text"]::-moz-placeholder           { color: #b1b1b1; }
#infogr_embed input[type="text"]:-moz-placeholder            { color: #b1b1b1; }
#infogr_embed input[type="text"]:-ms-input-placeholder       { color: #b1b1b1; }

#infogr_embed input[type="text"] {
  width: 100%;
  float: left;
  color: #434343;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

#infogr_embed input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  float: left;
  border-radius: 5px;
  background: #3796c9;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  padding: 7px 35px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  transition: all 0.4s ease 0s;
  line-height: 1.3;
}

#infogr_embed input[type="submit"]:hover {
  background: #5fb7e5;
}

#infogr_embed.infogr_error input[type="text"] {
  color: #c32f2f;
  border: 2px solid #c32f2f;
}

#infogr_embed.infogr_error input[type="submit"] {
  top: 6px;
}

#infogr_embed.infogr_error  span.infogr_error {
  font-size: 11px;
  display: block;
  color: #fff;
  clear: both;
  max-width: 100%;
  text-align: left;
  margin: 0;
}

/* -- active popup */
.infogr-active-top {
  width: 96%;
  z-index: 1;
  background: url(../img/top-back.png);
  padding: 20px 2% 5px;
}

.infogr-active-top::after {
  content: '';
  display: block;
  clear: both;
}

.infogr-active-top span {
  float: left;
  margin: 0;
  color: #fff;
}

.infogr-active-top a {
  float: right;
}

.container_infographic {
  overflow-x: hidden;
  max-height: 420px;
}

.infographic {
  float: left;
  width: 18%;
  margin: 10px 1%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 160px;
  border-radius; 5px;
}

.infographic img {
  width: 100%;
}

.infographic h4 {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 0;
  background: #2d2d2d;
  color: #fff;
  margin: 0;
  padding: 10px 5%;
  font-size: 12px;
  font-weight: 300;
}

.infogr-hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: url(../img/el-h.png);
  transition: all 0.4s ease 0s;
}

.infogr-hover .infogr-h-add {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 5px;
  display: block;
  width: 130px;
  height: 34px;
  background: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -65px;
  color: #fff;
  line-height: 34px;
  text-align: center;
}

.infographic:hover .infogr-hover {
  opacity: 1;
}

/* -- message popup */
.infogr-no-active {
  display: table;
}

.infogr-info-area {
  padding: 70px 40px 100px; 
  display: table-cell;
  background: #8ec3a7;
  width: 520px;
  vertical-align: top;
}

.infogr-set-area {
  padding: 70px 40px 100px; 
  display: table-cell;
  background: #434343;
  width: 290px;
  text-align: center;
  vertical-align: top;
}

.infogr-set-area > a > img {
  margin-top: 20px;
}

.infogr-info-area h1 {
  font-size: 37px;
  color: #fff;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 10px 0; 
}

.infogr-info-area span {
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}

.infogr-info-area span a {
  color: #2f6857;
  text-decoration: none;
}

.infogr-info-area span a:hover {
  text-decoration: underline;
}

.infogr-info-area .infogr-slides {
  margin-top: 50px;
}

.infogr-info-area .infogr-slides img {
  margin-left: 16px;
}

.infogr-info-area .infogr-slides img:first-child {
  margin-left: 0;
}

.infogr-set-area span {
  color: #fff;
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  display: block;
}

.infogr-set-area .infogr-set-action {
  margin-top: 50px;
}

.create_inf,
.create_inf:visited {
  border-radius: 5px;
  background: #3796c9;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 50px;
  width: 100%;
  margin: 15px 0 25px;
  transition: all 0.4s ease 0s;
}

.create_inf:hover {
  background: #5fb7e5;
  color: #fff;
}

.setting_inf,
.setting_inf:visited {
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  display: block;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 36px;
  width: 100%;
  transition: all 0.4s ease 0s;
}

.setting_inf:hover {
  background: #fff;
  color: #000;
}

/* -- media screen */
@media all and (max-width: 960px) {
  .infogr_btn {
    height: 39px;
    line-height: 38px;
  }
  #infogr_media_popup .infogr_inner {
    width: 620px;
  }
  .infographic {
    height: 120px;
  }
  #infogr_embed {
    width: 450px;
  }
  .infogr-info-area h1 {
    font-size: 22px;
  }
  .infogr-info-area .infogr-slides img:first-child {
    margin-left: 2.5%;
  }
  .infogr-info-area .infogr-slides img {
    margin: 0 2.5%;
    width: 19%;
  }
  .infogr-set-area .infogr-set-action {
    margin-top: 10px;
  }
  .infogr-info-area,
  .infogr-set-area {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
  }
  .infogr-hover .infogr-h-add {
    width: 80px;
    height: 30px;
    margin: -15px 0 0 -40px;
    line-height: 30px;
  }
}
